/* Styles for student posts section */

.post-card {
  margin-bottom: 1rem;
  background-color: #D9D9D9;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 1px 4px rgba(0,0,0,0.08);
}
.post-card .post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.post-card .post-header .avatar {
  width: 24px;
  height: 24px;
  background-color: brown;
}
.post-card .post-header .author {
  font-weight: bold;
  line-height: 2;
}
.post-card .post-title {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: auto;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.post-card .post-description {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: auto;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.post-card .post-footer {
  display: flex;
  justify-content: space-between;
}

.post-content-card {
  background-color: #D9D9D9;
  padding: 1rem;
}
.post-content-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
}
.post-content-header .avatar {
  background-color: brown;
}
.post-content-header .author {
  font-weight: bold;
}
.post-content-header .date {
  margin-left: 0.5rem;
}

.post-sidebar {
  overflow-y: scroll;
}

.post-sidebar-item {
  text-decoration: none;
  border: 1px solid rgba(255,0,0,0.25);
  background-color: #AB9B9B;
  border-radius: 0.25rem;
  margin-bottom: 0.25rem;
  color: var(--mui-palette-text-primary, #222);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: background 0.2s;
}
.post-sidebar-item.active {
  background-color: #ff000026;
  border: 1px solid rgba(255,0,0,0.5);
  font-weight: bold;
}
.post-sidebar-item:hover {
  background-color: #ff000026;
}
.post-sidebar-item .avatar {
  width: 15px;
  height: 15px;
  margin-right: 0.25rem;
}

.search-results {
  margin-top: 1rem;
}
